.climate-survey {
    padding: 30px 130px;
    min-height: calc(100vh -(94.8px + 58.8px));
}
.fw-normal {
    font-weight: normal;
}
form.climate-survey-form {
    max-width: 80%;
    padding: 10px 0px 20px;
}
.climate-survey-form .form-group {
    padding-bottom: 30px;
}
.survey-submit-btn {
    width: 10%;
    background-color: #7ebf1b;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #fff;
    padding: 8px;
    margin-top: 20px;
}
.survey-error {
    color: red;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
}
textarea {
    font-family: 'port-lligat', sans-serif;
}